[Unit]
Description=Elephant
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=elephant
Restart=on-failure
Slice=session-graphical.slice

[Install]
WantedBy=graphical-session.target
