[Unit]
Description=Smart card global cache
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=forking
ExecStart=/usr/lib/SCMiddleware/idocachesrv
Slice=session-graphical.slice

[Install]
WantedBy=graphical-session.target
