[Unit]
Description=udiskie mount daemon
After=graphical-session.target

[Service]
ExecStart=/usr/bin/udiskie -a -n -s
Slice=session-graphical.slice

[Install]
WantedBy=graphical-session.target

