[Unit]
Description=udiskie mount daemon
PartOf=sway-session.target
Requires=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/udiskie -a -n -s

[Install]
WantedBy=sway-session.target

