let mapleader = ","

map <leader>fc <Action>(GotoClass)
map <leader>ff <Action>(GotoFile)

map <leader>fm <Action>(ReformatCode)

map <leader>ra <Action>(RenameElement)

map <leader>g <Action>(Generate)

map <leader>im <Action>(ImplementMethods)
map <leader>om <Action>(OverrideMethods)

map <leader>sr <Action>(SurroundWith)
